[Desktop Entry]
Version=1.0
Type=Application
Name=EMB88-Monitor
Exec=/usr/local/bin/e8mon
Terminal=false
Comment=EMB-88 Monitor
Categories=GTK;Development;
Icon=edit-find.png


